.dashboardContainer {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.dashboardContainer h2 {
 width: 100%;
}

.userNameMessage {
 width: 100%;
}

.headerMessage {
 padding: 15px 0px 5px 0px;
 color: white
}

.headerDescription {
 padding: 5px 0px 15px 0px;
 color: white
}