.appBarBg {
 background-color: rgba(19, 111, 149, 0.37) !important;
}

.buttonMenu {
 margin-right: 75px;
}

.menuApp {
 list-style-type: none;
}

.menuApp {
 border-left: 1px solid rgb(255 255 255 / 17%);
 padding: 0 15px;
 width: 82%;
}

.logoPage {
 max-width: 10%;
}

.boxHeader {
 display: flex !important;
}

.logouButton {
 text-transform:initial !important;
}

.boxHeader {
 padding: 0 !important;
}

.menuItem {
 cursor: pointer;
 font-family: "Roboto","Helvetica","Arial",sans-serif !important;
 font-weight: 500;
 font-size: 0.875rem;
 line-height: 1.75;
 letter-spacing: 0.02857em;
}

.menuItem:hover {
 cursor: pointer;
 font-weight: bold;
}