.boxCardHero {
 background-color: rgba(19, 111, 149, 0.37) !important;
}

.textCardHero {
 color: white !important;
}

.buttonSeeMore {
 border-color: white !important;
 color: white !important;
}

.buttonSeeMore:hover {
 background-color: #66bb6a !important;
}